.vscode/
*.out
yodk
yodk.exe
yodk.exe~
yodk-darwin
lslog
dalog
*.vsix
!vscode-yolol/.vscode
vscode-yolol/.vscode-test/
docs/README.md
docs/vscode-yolol.md
docs/generated/*
examples/nolol/*.yolol
CHANGELOG.md